name: Deploy to Server

on:
  push:
    tags:
      -  "dev-*"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.USR_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ghcr.io/IbrahimFattah/beast-movies/backend:latest
            ghcr.io/IbrahimFattah/beast-movies:${{ github.sha }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/backend:latest
          cache-to: type=inline

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Navigate to app directory
            cd /opt/beast-movies || exit 1

            # pruning
            docker container prune -a -f
            docker image prune -a -f
            docker system prune -a -f

            
            # Pull latest changes
            # git pull origin main
            
            docker stop backend || true
            docker rm backend || true

            
            # Pull latest Docker images
            docker pull ghcr.io/IbrahimFattah/beast-movies/backend:latest
            
            echo "Deploying to dev environment ..."
            docker login ghcr.io -u ${{ github.actor }} --password "${{ secrets.USR_TOKEN }}"
            /root/load-env.sh
